@mixin grid-flex {
  font-family: $primary-font;
  display: flex;
  flex-flow: row wrap;
  // gap: 1.4rem;
  justify-content: space-between;
  padding: 1rem 3rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-align: stretch;
  width: 100%;
  align-items: stretch;
  margin: 1.5rem auto;
  max-width: 1200px;

  @include respond(tab-port) {
    padding: 1rem 0.8rem;
    justify-content: center;
    gap: 0.9rem;
  }
}

// Order for markup is section > h1 > p > p
@mixin info-block {
  margin-top: 6.5rem;
  max-width: 32rem;
  font-family: $primary-font;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin-left: auto;
  margin-right: auto;
  width: 32rem;
  @include respond(phone) {
      margin-top: 4rem;
      width: 100%;
  }

  h1 {
      text-align: center;
      margin-bottom: 10px;
      text-transform: capitalize;
      font-size: 1.5rem;
  }

  p:first-of-type {
      margin-bottom: 1rem;
  }
}

/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      //600px
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.353em) {
      //900px
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      //1200px
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      //1800
      @content;
    }
  }
}
