$red: rgb(163, 27, 27, 1);
$yellow: rgb(255, 249, 0, 1);
$white: #fff;
$dark: #000;
$blue: rgb(6, 2, 82);
$muted: #6b6b6b;
$custom-green: rgb(24, 185, 24);
$grey: grey;

$background-color: #f2f2f2;

$primary-font: 'Nunito', sans-serif;
$secondary-font: 'HackedFont', sans-serif;
$tertiary-font: 'Nintendo', sans-serif;
$default-font-size: 1rem;
$base-line-height: 1.6;
$base-heading: 2.25rem;
