html {
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background: $white;
  height: 100%;
  overflow: auto;
  font-family: $primary-font;
}

.pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}
a:hover {
  opacity: 0.88;
}
button {
  &:hover {
    opacity: 0.88;
  }
}
